---
import MainLayout from "../layouts/MainLayout.astro";
import SorozcoMain from "../assets/icons/SorozcoType.astro"
let Title = [
  {name:'FrontEnd Developer', },
  {name:'•'},
  {name:'Graphic Designer'},
  {name:'•'},
  {name:'FrontEnd Developer', },
  {name:'•'},
  {name:'Graphic Designer'},
  {name:'•'},
]

let Tools = [
  {name:'Astro', url:"/Tools/Astrologo.svg" },
  {name:'VueJs', url:"/Tools/VueLogo.svg" },
  {name:'Pinia', url:"/Tools/PiniaLogo.svg" },
  {name:'Firebase', url:"/Tools/Firebase.svg" },
  {name:'Git', url:"/Tools/GitLogo.svg" },
  {name:'Tailwind', url:"/Tools/TailwindLogo.svg" },
  {name:'Figma', url:"/Tools/Figma.svg" },
]
---

<MainLayout>
  <section
    class="min-h-screen w-ful flex flex-col gap-y-6 justify-center items-center bg-stone-900 p-2 changeW clipBackground"
    data-background="dark"
  >
  <div class="text-white px-10 w-full max-w-screen-lg mx-auto">
    <SorozcoMain />
  </div>
  <p class="text-white text-3xl font-semibold italic md:hidden">Frontend Developer</p>
  <main
    class="py-3 md:flex justify-center items-center self-end gap-x-6 marqueeSection w-full px-6 max-w-screen-lg overflow-x-clip mx-auto hidden"
  >
    <ul class="flex gap-x-6 items-center text-white font-bold text-xl md:text-5xl will-change-transform italic">
      { Title.map(title => (
        <li class="marqueeInitial text-nowrap animate-ping">{title.name}</li>
      ))}
    </ul>
    <ul class="flex gap-x-6 items-center text-white font-bold text-xl md:text-5xl will-change-transform italic">
      { Title.map(title => (
        <li class="marqueeInitial text-nowrap animate-ping">{title.name}</li>
      ))}
    </ul>
  </main>
  <div class="w-full absolute bottom-0 mx-auto py-9 bg-black/20">
    <div class="flex flex-col md:flex-row gap-2 items-center justify-center md:justify-between w-10/12 mx-auto">
      <div class="flex gap-x-2 items-center text-white">
        <p class="text-lg">Working at: Sproutloud</p>
      </div>
      <div class="flex gap-x-2 items-center text-white">
        <img src="/ColombianFlag.svg" class="size-7" alt="Image of the colombian flag">
        <p>Based in Medellín, Colombia</p>
      </div>
    </div>
  </div>
  </section>
  <section class="min-h-screen max-w-screen bg-slate-200 py-8 md:py-16 px-6 pb-5 wrapper">
    <div class="reveal flex flex-col gap-y-8">
      <div class="lg:px-0 text-slate-600">
        <h2 class="text-slate-600 text-6xl">About Me</h2>
        <p class="mt-5 text-2xl md:text-3xl leading-tight text-pretty">Mid-level frontend developer crafting user-friendly, engaging experiences with VueJs and Astro. Proficient in agile methodologies (SAFe) and teamwork, I bring a strong work ethic and passion for excellence to help your team achieve its goals.</p>
      </div>
      <div>
        <h2 class="text-slate-600 text-4xl">Tools</h2>
        <ul class="mt-5 flex flex-wrap md:justify-center gap-3">
          {Tools.map(icon => (
            <li class="border border-slate-300 bg-white shadow-sm rounded-md px-3 py-2 flex gap-x-2 flex-grow justify-center items-center">
              <img width="56px" class="size-14" src={icon.url} alt={`image of the ${icon.name} logo`}>
              <p class="font-semibold text-slate-500">{icon.name}</p>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </section>
</MainLayout>

<style>

  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(10em);
    }
    to{
      opacity: 1;
    }
  }

  @keyframes changeWidth {
    0% {
      margin-inline: 0em;
    }
    20%,100% {
      margin-inline: 1em;
      border-bottom-left-radius: 3em;
      border-bottom-right-radius: 3em;
      @apply bg-blue-900 duration-700;
    }
  }

  @keyframes marqueeInitial {
    0% {
      transform: translateX(-1.2rem);
    }
    100% {
      transform: translateX(-905px);
    }
    
  }

  .clipBackground {
    clip-path: view-box;
  }

  .wrapper {
    max-inline-size: 1125px;
    margin: 0 auto;
  }

  .reveal{
    animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: entry 10%;   
  }

  .changeW {
    animation: changeWidth linear both;
    animation-timeline: view(block);
    animation-range: exit 0% cover 100%;
  }

  .marqueeInitial {
    animation: marqueeInitial 10s linear infinite;
  }
  .marqueeSection {
    mask-image: linear-gradient(to left, transparent, black 80%, transparent);
  }
</style>
