---
import { Image, Picture } from "astro:assets";

const highlighted = [
  {
    name: "VueShop",
    url: "https://vue-blood.vercel.app/",
    gitUrl: "https://github.com/Sergioaorozco/VueBlood",
    imageProject: "/images/Shop_01.webp",
  }, 
  {
    name: "Bingo Game JavaScript",
    url: "https://vue-bingo-lyart.vercel.app/",
    gitUrl: "https://github.com/Sergioaorozco/VueBingo",
    imageProject: "/images/Game_02.webp",
  },
  {
    name: "Solar Dashboard",
    url: "https://solarboard.vercel.app/",
    gitUrl: "https://github.com/Sergioaorozco/SolarDashboard",
    imageProject: "/images/Dash_03.webp",
  },
];
---

<section class="py-5 wrapper reveal">
  <h2 class="text-slate-600 text-4xl">Portfolio</h2>
  <ul
    class="grid grid-cols-1 md:grid-cols-3 lg:flex-row gap-3 w-full items-center mt-5"
  >
    {
      highlighted.map(({ name, url, imageProject, gitUrl }) => (
        <li class="border flex-col items-center flex-grow border-slate-400 rounded-md overflow-clip group flex-1 w-full">
          <article>
            <div class="flex justify-between items-center py-4 border-b border-slate-400 px-3 flex-1 bg-slate-300 group-hover:bg-white group-hover:transition-colors duration-300">
              <h3 class="font-semibold text-slate-600">{name}</h3>
              <span class="flex gap-x-2 items-center text-slate-700">
                <a href={gitUrl} target="_blank" rel="noopener noreferrer" class="text-sm py-1 px-2 rounded-md bg-slate-200 border border-slate-400 hover:bg-slate-300">
                  Code
                </a>
                <a href={url} target="_blank" rel="noopener noreferrer" class="text-sm py-1 px-2 rounded-md bg-slate-200 border border-slate-400 hover:bg-slate-300"> 
                  Live
                </a>
              </span>
            </div>
            <div class="overflow-clip">
              <a href={url} target="_blank" rel="noopener noreferrer"></a>
              {/* Mobile Images 700 x 300 */}
              {/* Desktop Images 700 x 700 */}
                <Image
                  src={imageProject}
                  width="700"
                  height="300"
                  loading="lazy"
                  alt={`visual representation of the ${name} project`}
                  class={
                    "group-hover:scale-105 group-hover:transition-all duration-500"
                  }
                />
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</section>
<style></style>
